@import "../../../scss/landingsShared.scss";

$anchoDeCaja: $maxWith - (4 * $margin);

.dark {
  background-color: $Gris-oscuro;
  color: $Beige;
}

.light {
  background-color: $Beige;
  color: $Negro;
}

.explainer {
  padding: 96px 71px 96px 71px;
  margin-top: 96px !important;
}

.main {
  max-width: $anchoDeCaja !important;
}

.title {
  h2 {
    color: $Naranja;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "DM Sans";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 100% */
    text-align: left;
    .spanText {
      color: black;
    }
  }
}

.standarList {
  text-align: left;
  padding-left: 0px;
  width: 100%;
  li {
    background-image: url(../../../assets/svg/bulletLandingListStandar.svg);
    margin-left: 0px;
    margin-bottom: 16px;
    list-style-type: none;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 24px 24px !important;
    color: var(--Negro, #000);
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}

.higligthList {
  margin-top: 40px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  margin-bottom: 40px;
  li {
    background-image: url(../../../assets/svg/bulletLandingListHigligth.svg);
  }
}

.higligthListTitle {
  color: $Negro;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  text-align: left;
  margin-bottom: 0px;
  span {
    color: $Naranja;
  }
}
