.bgR{
    background-image: url(../assets/svg/EllipseRight.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.bgL{
    background-image: url(../assets/svg/Ellipse.svg);
    background-repeat: no-repeat;
    background-position: left;
}