#porqueElegirnos{
    margin-top: 230px;
    h2{
        font-weight: 700;
        font-size: 64px;
        line-height: 80px;
        text-align: left;
    }
    p{
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;
        span{
            font-weight: 700;
        }
    }
    :first-child{
       

    }

    
    #gota2{
        transform: scaleX(-1);
    }
    #imagem{
        img{
        width: 288px;
        height: 549px;
        }
    }
    .gotaData{
        position: absolute;
        // background-color: aqua;
        width: 100%;
        padding-right: 14%;
        height: 100%;
        h4{
            font-size: 96px;
            font-weight: 700;
            line-height: 96px;
            color: black;
            margin-top: 50px;
        }
        p{
            text-align: center;
            font-family: Lora;
            font-size: 31px;
            font-weight: 400;
            line-height: 39px;
            letter-spacing: 0px;
            color: black;
        }
    }
}