@import "../../scss/layout.scss";

.footerLanding {
  padding: 37px 70px;
  align-items: center;
  gap: 873px;
  flex-shrink: 0;
  min-height: 21px;

  p {
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin: 0px;
  }
}

.logo {
  display: flex;
  align-items: center;
  align-content: center;
  .imgFooter {
    display: flex;
    margin: 0px;
    padding: 0px;
    max-width: 78px !important;
  }
  .claimFooter {
    display: flex;
    margin: 0px;
    padding: 0px;
  }
}

.date {
  color: var(--Blanco, #fff);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

@media (max-width: $mobileBreak) {
  .footerLanding {
    margin: 0px;
    padding: 24px;
    .logo {
      justify-content: center;
      padding: 0px;
      margin: 0px;
      .imgFooter {
        justify-content: flex-end;
        margin-right: 10px;
      }
      .claimFooter {
        p {
          margin-top: 1;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 19px;
        }
      }
    }
    .date {
      margin-top: 16px;
      margin-left: 0px;
      padding: 0px;
      display: flex;
      justify-content: center;
    }
  }
}
