@import './scss/colors.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.App {
  text-align: center;

}



@media (max-width: 420px) { 
  .App{
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 768px) {

  .App{
    padding-left: 100px;
    padding-right: 100px;

  }
}
